<div class="text-center">
  <section class="jumbotron text-center">
    <h1 class="jumbotron-heading mb-5">PagerDuty Link Shortener</h1>
    <p class="lead text-muted">
      Because it feels weird to use bit.ly for internal things.
    </p>
  </section>
      <%= ReactPhoenix.ClientSide.react_component("Components.LinkForm") %>
</div>
